# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
*.iml
.idea/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Java
*.class

# Environment Variables
.env
.env.local
.env.*.local
